{% extends "main.html" %}

{% block maincontent %}
	<form name="dashboard" action="dashboard" method="post" onsubmit="return validateForm()">
	<input type="text" name="year" size="20">
	<input type="submit" value="Submit">
	</form>
	
	<ul>
		{% for week in calendar %}
			<li>
				{{ week[0].strftime('%b %d') }} ~ {{ week[1].strftime('%b %d') }}: {{ week[2] }} / {{ week[3] }}
			</li>
		{% endfor %}
	</ul>
	
	<script>
	function validateForm()
	{
		var a = document.forms["dashboard"]["year"].value;
		if (a == null || a == "")
		{
			alert("Please fill in the year field!");
			return false;
		}
	}
	</script>
	
{% endblock %}
