<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
		<link rel="stylesheet" type="text/css" href="stylesheets/site.css">
		<title>{% block title %}Foss Work Management{% endblock %}</title>
	</head>

	<body>
		<div id="header">
			<h1>
				<a id="header_link" href="/"> Foss Work Management </a>
			</h1>
		</div>

		<div class="main">
			<div id="message">
				{% block message %}
				{{ message }}
				{% endblock %}
			</div>

			{% block maincontent %}
			{% endblock %}
		</div>

		<div>
			<footer>
				<hr>
				<p>
					<a href="/logout">Logout</a>
					|
					<a href="http://calendar.google.com">Google Calendar</a>
				</p>
				<p>
					Copyright: Im, Hyo-Jun
				</p>
			</footer>
		</div>

	</body>
</html>
